html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: "Questrial", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;

}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b,
strong {
    font-weight: 600;
}

html {
    top: 0 !important;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: "Questrial", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #555 !important;
    font-family: "Questrial", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
    -webkit-tap-highlight-color: transparent;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: 0.35s;
}

a.underline {
    text-decoration: underline;
}

a:hover {
    transition: 0.15s;
    opacity: 0.8;
}
.container{
    min-width: 1280px !important;
}
.card-deck .card {
    min-width: 305px !important;
    border:2px solid #5270ff !important;
    margin-right: 4px !important;
    margin-left: 0px !important;
}
.card-deck{
margin-right: 0px !important;
margin-left: 0px !important;
}

.page-container {
    max-width: 1240px;
    margin: 0 auto;
}

.logo-container {
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.logo {
    padding: 13px 13px 13px 0;
}

.logo img {
    width: 100%;
    max-width: 300px;
}

.slick-active {
    opacity: 1 !important;
}

.search-border {
    border: 2px solid #5270ff;
    display: inline-flex !important;
    flex-wrap: nowrap !important;
}

.search-border .form-control {
    border: none !important;
    width: 560px !important
}

.btn-primary {
    color: #fff;
    background-color: #5270ff !important;
    border-color: #5270ff !important;
}

.search-border .search-btn {
    background-color: #5270ff !important;
    color: #fff;
    border-radius: 0;
    border: 1px solid #5270ff;
}

.gallery {
    margin-bottom: 30px;
}

.navbar {
    background-color:#5270ff;
    height: 44px;
    display: flex;
}

.navbar ul {
    justify-content: space-around;
    flex: 1 1 auto;
    display: flex;
}

.navbar li {
    line-height: 20px;
}

.nav-link {
    color: #fff !important;
    font-family: Questrial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 12px 8px;
    color: #fff;
    border: none;
}

.carousel {
    padding: 40px 0;
}

.carousel-item {
    max-height: 400px;
    background-position: center;
    background-size: cover;
}

.slider {
    width: 100%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.breadcrumb {
    padding-left: 0 !important;
    background-color: #fff !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    margin-bottom: 2rem;
}

.breadcrumb p {
    margin-left: 0;
    margin-bottom: 0;
}

.breadcrumb-item {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #ea7227 !important;
}

.gallery .card .card-body {
    background-color: #5270ff;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.gallery .card .card-body .card-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.2px;
}

.card {
    border: 0 !important;
}



.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #555;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.footer-logo {
    width: 150px;
}

.gallery-thumbnail-img {
    height: 227px;
}

.hardware-image {
    height: 150px;
}
.img-bg-1{
    background-image: url("..assets/..images/gardening-flatlay-min.jpg");
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
}

.img-hover-zoom {
    height: 150px;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.card-body {
    padding: 5px !important;
}

.card-title {
    font-weight: 500;
    font-size: 16px;
}

.parallax {
    background-image: url(../images/about-us-sign.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.about-us-content {
    padding: 80px 0;
}

.heading-title {
    margin-bottom: 100px;
}

.text-center {
    text-align: center;
}

.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}

.p-top-30 {
    padding-top: 30px;
}

.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}

.text-uppercase {
    text-transform: uppercase;
}

.team-member,
.team-member .team-img {
    position: relative;
}

.team-member {
    overflow: hidden;
}

.team-member,
.team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-hover .desk {
    top: 35%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #222;
}

.team-member:hover .team-hover .s-link {
    bottom: 10%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #222;
}

.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}

.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}

.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}

.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
.text-hidden{
    display: block; /* Fallback for non-webkit */
 display: -webkit-box;
 max-width: 400px;
 height: 18px*1.4*2; /* Fallback  for non-webkit */
 margin: 0 auto;
 font-size: 18px;
 line-height: 1.4;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}
.sl-wrapper .sl-image .sl-caption {
    display: none;
    padding: 10px;
    color: #fff;
    background: #5270ff !important;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}